/*Main*/
.contenedor-welcome{
    @include flex(column, 95px)
}
/*Imagenes 100% index*/
.contenedor-grid img{
    width: 100%;
    height: 100%;
}

/*grilla index*/
.contenedor-grid{
    display: grid;

    /*definir las areas*/
    grid-template-areas: 
    "img1 img2 img3 img4"
    "img5 img6 img7 img8";

    /*ancho de columna*/
    grid-template-columns: 20% 20% 20% 20% ;

    /*alto de fila*/
    grid-template-rows: repeat(2, 230px);

    /*acomodar a los hijos*/
    justify-items: center;
    align-items: center;

    /*acomodar grilla*/
    justify-content: center;

    /*espacios entre filas y columnas*/
    row-gap: 30px;
    column-gap: 30px;

    /*margen inferior de la grilla*/
    margin-bottom: 30px;
}

.miniatura{
    position: relative;
    .info{position: absolute; background-color: $naranja; padding: 30px; color: $blanco; font-family: $font; width: 90%; height: 90%; top:5%; left: 5%; opacity: 0;
    };
    h2 {font-size: 1.5rem};
}

.miniatura:hover .info{
    opacity: 1;
    transition: .5s;
}